<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <link href="Resources/css/General.css" rel="stylesheet" />
</head>
<body ng-app="application" ng-controller="appController" style="max-width:50%;margin:0 auto" ng-init="queryAllObra()">
    <br /><br />
    <div class="form-group"><input type="button" value="Agregar nuevo registro" style="float:right" class="btn btn-primary" onclick="window.location.href='AddObra.html'"></div>
    <br /><br />
    <div class="form-group">
        <label></label>
        <h5>Buscar por Tag</h5>
        <p><input type="text" placeholder="Introduce un Tag" id="txtTag" ng-model="post.Tag" style="float:left;width: calc(100% - 100px );margin-right:15px" class="form-control" /><input id="queryAllObra" type="submit" value="Query" class="btn btn-primary" ng-click="queryObraTag(post.Tag)"></p>
    </div>

    <table id="all_obra" class="table" align="center">
        <tr>
            <th>Tag</th>
            <th>Usuario</th>
            <th>Fecha de creación de obra</th>
            <th>Descripcion </th>
            <th>Fecha de alta</th>
            <th>Imagen</th>
        </tr>
        <tr ng-repeat="obra in all_Obra">
            <td>{{obra.tag}}</td>
            <td>{{obra.usuario}}</td>
            <td>{{obra.timestamp}}</td>
            <td>{{obra.descripcion}}</td>
            <td>{{obra.fechacreacion}}</td>
            <td><a href="http://ibinnovation9734.cloudapp.net/ImgAutorFY/ID/{{obra.image}}">{{obra.image}}</a></td>
        </tr>
    </table>
    <script type="text/javascript" src="app.js"></script>
</body>
</html>