<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="Resources/css/General.css">
    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <title>Admin</title>
</head>
<body ng-app="application" ng-controller="RegisterController">
    <div class="container">
        <img src="Resources/images/autorfy.png" style="margin:0 auto;max-width:400px">
        <div class="row main">
            <h3>Complete Your Registration</h3>
            <div class=" main-center card">
                <form class="form-horizontal" method="post" action="#">

                    <div class="form-group">
                        <label for="name" class="cols-sm-2 control-label">Name</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                <input type="text" class="form-control" name="name" id="name" ng-model="User.name" placeholder="your Name" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" class="cols-sm-2 control-label">Email</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="email" class="form-control" name="email" id="email" ng-model="User.email" placeholder="your Email" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Userid" class="cols-sm-2 control-label"> Identification(INE,Passport)</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="file" class="form-control" name="Userid" id="Userid" placeholder="Upload your Id" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="domicilio" class="cols-sm-2 control-label">Proof of address</label>
                        <div class="cols-sm-10">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope fa" aria-hidden="true"></i></span>
                                <input type="file" class="form-control" name="domicilio" id="domicilio" placeholder="Upload your proof of address" />
                            </div>
                        </div>
                    </div>
                    <div class="form-group ">
                        <button type="button" class="btn btn-primary btn-lg btn-block login-button" ng-click="addUser()">Register</button>
                    </div>
                    <div>
                        <a href="./">Login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Register</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <h3>A new user has been created!</h3>
                    with the ID:&nbsp;&nbsp;<b>{{NewUser.Id}}</b>
                    <br />
                    <br />
                    And Email:&nbsp;&nbsp;<b>{{NewUser.Email}}</b>
                    <br /><br />
                    Please copy the data that will be used as login
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <span>
            <span class="copy" id="span1"> <b>Prototype Autorfy</b> Copyright © 2018 Ironbit S.A DE C.V,</span>
            contact us:<a href="mailto:info@ironbit.com.mx"> info@ironbit.com.mx</a>
        </span>
    </footer>
    <script src="app.js"></script>
    <script>
        $('#myModal').on('shown.bs.modal', function () {
            $('#myInput').focus()
        });
        $("#myModal").on("hidden.bs.modal", function () {
            if (localStorage.getItem("IDAutorFY") != null && localStorage.getItem("IDAutorFY") != "") {
                window.location.href = './Main.html';
            }
        });
    </script>
</body>
</html>